<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Latest News</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">LatestNews</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/scrape">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/saved">Saves Articles</a>
					</li>

					<button class="btn btn-outline-success my-2 my-sm-0 scrape" type="submit">Scrape New
						Articles</button>

			</div>
		</nav>

		<div class="jumbotron jumbotron-fluid jumbImage">
			<div class="container">
				<div class="pageImg">
					<h1 class="display-4">Save and Comment NEWS</h1>
					<p class="lead">New York Time Edition</p>
				</div>
			</div>
		</div>
		<div id="articles"></div>
		<div id="notes"></div>

		{{{ body }}}
	</div>
		<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/app.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>