<ul>
  <li><a href="#">Mango Scraper</a></li>
  <li><a href="#home">News</a></li>
  <li><a href="#save">Saved Articles</a></li>
  <button><li style="float:right"><a class="active" href="#about">Scape New Articles!</a></li></button>
</ul>

<div class="container">
  <img src="public/images/1.jpg" alt="news" style="width:100%;">
  <div class="centered">Your Latest News</div>
</div>

<ul>
  {{#each ArticleSchema}}
    <p>{{this.title}}</p>
    <p>{{this.summary}}</p>
    <p>{{this.link}}</p>
    <p>{{this.note}}</p>
    <button type = "button">SAVE ARTICLE</button>
  {{/each}}
</ul>
