{{#each articles}}
<div class = "row">
<div class="card col-8" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p> --}}
    <a href={{this.link}} class="card-link">Read More</a>
  </div>

<div class = "saveBut col-4">
<button type="button" class="btn btn-primary">Save</button>
</div>
</div>
{{/each}}